<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>[[#{login.titulo}]]</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="contLogin">
            <h1 class="tituloLogin">[[#{login.titulo}]]</h1>
            <br/>
            <form th:action="@{/login}" method="POST">
                <label class="etiquetaLogin" for="username">[[#{login.username}]]</label>
                <input class="inputLogin" type="text" name="username" id="username"/>
                <br/>
                <label class="etiquetaLogin"  for="password">[[#{login.password}]]</label>
                <input class="inputLogin" type="text" name="password" id="password"/>
                <br/>
                <button class="botonEnviar" type="submit" name="login">[[#{login.login}]]</button>
             </form>
        </div>
        <div class="info">
            <div class="pestanna">
                <p class="texto">Info e Inicio de sesión</p>
            </div>
            <div class="contenido">
                <div class="dentro">
                    <h4>Credenciales para iniciar sesion</h4>
                    <p>Usuario: <b>user</b> Password: <b>us3r</b> Rol: <b>Usuario</b></p>
                    <p>Usuario: <b>admin</b> Password: <b>4dm1n</b> Rol: <b>Administrador</b></p>
                    <h4>Información </h4>
                    <p>Web App desarrollada en el lenguaje de programación Java JDK 8 con Spring MVC y la biblioteca Thymeleaf accede a una base de datos MySQL</p>
                    <p> ver código fuente en <a class="linkGithub" target="_BLANK" href="https://github.com/ReneRaEsp/LibrosSpring">github.com/ReneRaEsp/LibrosSpring</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
